<div class="container scrollme" ng-scrollbar ng-controller="AngularjsCtrl">
    <div class="row">
        <section class="col-sm-12 col-lg-12">
            <h3>Fondements</h3>
            <p>AngularJS est né en 2009 dans les locaux de Google. Deux développeurs du nom de Brad Green et Shyam Seshadri commençaient sérieusement à déprimer devant leur projet appelé "Google Feedback". Une immense frustration les envahissait au fur et à mesure que leur code grandissait. Celui-ci comptait approximativement 17 000 lignes à ce moment-là. Autant de lignes de pur front-end qui sont intestables et donc difficilement maintenables. C'est à ce moment-là que Shyam Seshadri proposa de redévelopper entièrement la solution avec un framework fait maison. Au bout de trois semaines, l'application ne comptait plus que 1 500 lignes de codes, parfaitement testées. À compter de ce jour, les autres développeurs de l'équipe ont décidé de prendre en main ce framework et de travailler avec au quotidien. Une histoire est née, l'histoire d'un framework que l'on nommera AngularJS.
            </p>
            <h3>Concepts</h3>
            <p>
                Angular est construit autour de concepts clés sur lesquels nous reviendront largement au cours de ce tuto. Comprenez bien que Shyam Seshadri, lorsqu'il créa Angular, n'a rien inventé. Il n'a fait qu'utiliser à bon escient des concepts et des bonnes pratiques incontournables dans le monde du développement web actuel.
                <ul>
                    <li><strong>Architecture MVC (Modèle-Vue-Contrôleur) :</strong> si vous connaissez le développement, vous avez sûrement entendu parler de ce type d'architecture incontournable qui consiste à avoir une stricte séparation entre les données (Modèle), la présentation des données (Vue), et les actions que l'on peut effectuer sur ces données (Contrôleur)</li>
                    <li><strong>Data Binding :</strong> nous y reviendrons très largement au cours des prochains chapitres. Juste pour vous donner un avant-goût, je vous indique que, grâce à ce concept, les liens entre votre code HTML et JavaScript ne seront que plus forts.</li>
                    <li><strong>Injection de dépendances :</strong> tout comme l'architecture MVC, lorsque l'on parle d'injection de dépendances, on parle d'un concept prépondérant dans tout développement. Grâce à cela, les modules que vous développerez n'auront plus à se soucier d'instancier leurs dépendances.</li>
                    <li><strong>La manipulation du DOM au moyen de directives :</strong> la manipulation du DOM conduit souvent à la création de code difficilement maintenable et difficilement testable. Nous verrons qu'avec Angular, ce n'est plus le cas du tout !</li>
                </ul>
            </p>
        </section>
    </div>
    <!-- ######################################################################### -->
    <div class="row">
        <section class="col-sm-12 col-lg-12">
            <h3>Yeoman</h3><a href="https://github.com/yeoman/generator-angular">Yeoman generator angular</a>
            <h3>Angularjs Docs</h3><a href="https://docs.angularjs.org/api">Angularjs Docs</a>
        </section>
    </div>
</div>
