<div class="row">
	<section class="col-sm-12 col-lg-12 well">
			<h4>Pour bien commencer sa page, se munir de liens</h4>
				<ul>
					<li><h4>Bootstrap </h4></li>
						<ul>
							<li> CSS
								<p> href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"<br>												
								</p>
							</li>
							<li> JS
								<p>script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous">
								</p>
							</li>
						</ul>
					<li><h4>JQuery </h4>
						<ul>
							<li>CSS
								<p>
									link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
								</p>
								<p>
									link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.css"
								</p>
								<p>
								link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.structure.min.css"
								</p>
							</li>
							<li>JS
								<p>
								src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
								</p>
								<p>
									script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"
								</p>								
							</li>
						</ul>
					</li>
					<li><h4>AngularJS </h4></li>
						<ul>
							<li>
								script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
							</li>
						</ul>
					</li>						
					<li><h4>Font-awesome 4.5 </h4>
						<ul>
							<li>
								link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css
							</li>
						</ul>
					</li>					
				</ul>
	</section>
</div>
