<div class="row col-lg-12">
	<h2>HTML5 doctype</h2> 
	<p>BAn Html page requires certain HTML elements and CSS properties, for example : the use of the HTML5 doctype. Include it at the beginning of all your pages.</p> 
	<div class="zero-clipboard"><span class="btn-clipboard">Copy</span>
	</div>
	<figure class="highlight">
		<pre>	
			<code class="language-html" data-lang="html">
			<span class="cp">&lt;!DOCTYPE html&gt;</span>
			<span class="nt">&lt;html</span><span class="nt">&gt;</span>
		</pre>
	</figure>
</div>
<!-- ######################################################################### -->
