
<H2>Présentation du langage javascript</H2>

<div class="row">
	<blockquote>Le langage JavaScript a été introduit par Netscape en 1995 afin de développer les applications Internet en association au langage HTML. Ce langage est complémentaire au html, le html correspondant à la couche présentation et le javascript à la couche gestion et traitement des évènements. 
	Interprété par le navigateur (tout comme le HTML) le javascript est traité au niveau du client (navigateur), rendant son utilisation transparente pour l'utilisateur (pas de rechargement vers le serveur). 
	Ses principaux apports sont 
			- Son interaction forte avec les èlèments html (DOM) 
			- Sa gestion des évènements clients 
			- Son approche orientée objet 
			- Le développement de frameworks tels que Jquery ou Dojo 
			- Son interaction avec AJAX (Asynchronous Javascript and XML) et JSON (JavaScript Object Notation) 

	La version actuelle de javascript est la 1.8.2 
	</blockquote>
</div>
