<div class="row">
	<section class="col-sm-12 col-md-12 col-lg-12">
		 <p>Jusqu'ici, JavaScript avait toujours été utilisé du côté du client, c'est-à-dire du côté du visiteur qui navigue sur notre site. Le navigateur web du visiteur (Firefox, Chrome, IE...) exécute le code JavaScript et effectue des actions sur la page web.
			On peut toujours utiliser du JavaScript côté client pour manipuler la page HTML. Ca, ça ne change pas.
			Par contre, Node.js offre un environnement côté serveur qui nous permet aussi d'utiliser le langage JavaScript pour générer des pages web. En gros, il vient en remplacement de langages serveur comme PHP, Java EE, etc.		 </p>
	</section>
</div>
<!-- ######################################################################### -->